/* Question styles */

:local(.styles) {
  margin: 0 auto;
  max-width: 90%;
  overflow: auto;
  list-style: none;


  & > span.glyphicon {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
  }

  & ol li {
    max-width: 70%;
    border-radius: .1875em; 
  }

  & li input[type='radio'] {
    display: inline-block;
    margin-right: 1em;
    margin-left: .125em;
    transform: translateY(25%);
  }

  & li label {
    vertical-align: middle;
  }
}
